    <div style="padding:9px;border:1px solid #ccc;background-color:#fff;">
      <h2>My Recent Listens</h2>
      <div style="margin-top:8px;color:#333;">
<%= render :partial => 'listen/feed', :locals => { :public_links => false, :person_links => false, :listens => @listens } %>
      </div>
    </div>