<div style="padding:9px;border:1px solid #ccc;background-color:#fff;">
  <div style="width:400px;">
    <h2>Frequently Asked Questions</h2>
    <p>
      <b style="font-size:12px;color:#3b5998;">How does Listens work?</b><br/>
      1) Add an album<br/>
      2) Add a listen to that album when you listen to it<br/>
      3) ...that's it!   
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Why would I do this?</b><br/>
      Some people like sharing the music they are listening to with
      their friends. This sharing is passive, like blogging: your
      friends can check out what you listen to whenever they feel like it.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Who can see the albums I put in Listens?</b><br/>
      Only your Facebook friends can see your list of albums on Listens and when you listen to them.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">I have a very large album collection! Can I upload a
      file exported from iTunes or Windows Media Player (or another player) to add all of the albums
      automatically to Listens?</b><br/>
      This is definitely a planned feature.  Until then just add albums as you listen to them.
      Before you know it most of your albums will be added.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Where's the album art?</b><br/>
      This a planned feature too.  It's coming!
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">I added lots of album listens but only a few of
      them showed up in my profile's Mini-Feed, why?</b><br/>
      Facebook limits applications to 10 mini-feed stories in a 48 hour window.
      <a href="http://wiki.developers.facebook.com/index.php/Feed.publishActionOfUser">Read more about the limit</a>.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Can I share my album list with people that aren't my friends?</b><br/>
      Not yet.  If this does become possible it won't be the default.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">I don't want to add this application, just
      make a comment on my friend's album. Why do I need to "Log in" to the application
      when I'm already logged into Facebook?</b><br/>
      This is a security step that was added by Facebook. Listens needs
      your permission to see your friends list to confirm that you are 
      friends with that person.  Only friends can comment on albums.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Why albums and not individual songs?</b><br/>
      Because some music fans like listening to whole albums front to back.  You may
      not be that kind of music fan and that's OK.  There are other Facebook applications
      that can help you out.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Can I put an EP or CDS (single) on Listens instead of a
      full-length album?</b><br/>
      Yep!
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Can I put a single song on Listens?</b><br/>
      Sure you could ... but Listens is made for albums with
      many songs, so posting listens for single songs could get tedious.
      There are probably other Facebook applications that could keep track of
      single track listens a lot better than Listens.
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">Can you hook into my music player and detect when
      I listen to an album so I don't have to go on Facebook and add it?</b><br/>
      This is a hard problem to solve with software.  Most music players don't see an
      album as anything special: they just see a bunch of songs with the
      same album name text.<br/>
      <br/>
      How would the player know what an album listen is?
      If you play all of the songs in the album?  What if you don't like a few
      songs in the album and you skip them?
      For now it's much easier just to enter
      album listens manually but we're open to suggestions!
    </p>
    <p>
      <b style="font-size:12px;color:#3b5998;">I have a brilliant idea for Listens!
      How do I give the developers feedback?</b><br/>
      Fire off an email to listens.facebook@gmail.com
    </p>
  </div>
</div>