<div style="padding:9px; border:1px solid #ccc;background-color:#fff;">
<% same_artist = @album.all_by_same_artist %>
<% if same_artist.size > 0 -%>
  <h2><%= person_first_name_possessive(@uid) %> Albums by <%= @album.artist %></h2>
  <div style="margin-top:8px; color:#333;">
<% for album in same_artist -%>
    <%= link_public_album(album) %>&nbsp;<%= listen_count(album) %><br/>
<% end -%>
  </div>
<% end -%>
</div>