<div style="color:#333;padding:8px 16px;margin-bottom:10px;border-top:1px solid #95a5c6;border-bottom:1px solid #95a5c6;background-color:#dfe7f2;">
  <div style="font-size:11px;">
    <b>Listens</b> is a <a style="font-weight:bold;" href="http://www.rubyonrails.org">Ruby on Rails</a> project by Rails
    freelancer <a style="font-weight:bold;" href="http://www.facebook.com/profile.php?id=641865383">Ryan Lowe</a>
    &nbsp; &nbsp; <b>&raquo;</b> more at <a style="font-weight:bold;" href="http://www.disruptiveagility.com">disruptiveAgility</a>
  </div>
  <div style="margin-top:4px;font-size:11px;">
    Hosted <b>FREE</b> by <a style="font-weight:bold;" href="http://joyent.com/developers/facebook/">Joyent and Dell's Facebook Developer Program</a>
  </div>
</div>