<div style="border-bottom:1px solid #ccc;">
  <fb:header><%= @title %></fb:header>
</div>
<div style="background-color:#f7f7f7;padding:20px 20px;">
<%= yield %>
</div>
<%= render :partial => 'layouts/footer' %>
<%= render :partial => 'layouts/analytics' %>